@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind utilities;
@tailwind components;
@tailwind base;

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

@layer utilities {
  .pattern {
    background-image: linear-gradient(
      to right,
      transparent 49.5%,
      rgba(251, 232, 67, 0.2) 49.5%,
      rgba(251, 232, 67, 0.6) 50.5%,
      transparent 50.5%
    );
    background-size: 5% 100%;
    background-position: center;
    background-repeat: repeat-x;
  }
  .heading {
    @apply uppercase bg-black px-6 py-3 font-work-sans font-extrabold text-white sm:text-[54px] sm:leading-[64px] text-[36px] leading-[46px] max-w-5xl text-center my-5;
  }
  .pink_container {
    @apply w-full bg-primary min-h-[530px] pattern flex justify-center items-center flex-col py-10 px-6;
  }
  .card_grid {
    @apply grid lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 gap-5;
  }
  .card_grid-sm {
    @apply grid sm:grid-cols-2 gap-5;
  }
  .post-card {
    @apply bg-white border-[5px] border-black py-6 px-5 rounded-[22px] shadow-200 hover:border-primary transition-all duration-500 hover:shadow-300 hover:bg-primary-100;
  }
  .center {
    @apply flex justify-center items-center;
  }
}
